{% extends "base.html" %}
{% load static %}
{%block content%}
<div class="container">
  <div style="float:right; margin-left: 50px; size: 50%; margin-top:10px;" >
    {%if user.is_authenticated %}
      {% include "widget.html" %}
    {%endif %}
  </div>
  <div class="row" >
{%for i in productos %}
      <div class="col-md-4" >
        <div class="card" style="margin:10px;">
        <img class="card-img-top" src="{{i.imagen.url}}" style="height: 180px;">
      <div class="card-body" style="text-align: center;" >
          <h7 class="card-title">{{i.nombre}}</h7>
          <p class="card-test">$ {{i.precio}}</p>
        </div>
          <div class="card-footer text-center" style="height:70px;" >
            {%if user.is_authenticated %}
              <a href="{% url 'carrito:agregar' i.id%}" class="btn btn-success" style="width:100px;;">Agregar</a>
            {%else%}
            <a href="{% url 'login' %}" class="btn btn-success" style="width:100px;;">Agregar</a>

            {%endif %}

         </div>
      </div>
        
    </div>

{%endfor%}
    </div>
  </div>


{%endblock%}