<html>

<head>
    {%load static%}


    <!-- Bootstrap -->
    <link href="{% static 'proyectofinal/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'proyectofinal/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Gestión de Pedidos</span>
      </h1>
    <div style="text-align: right ; margin-right: 100px; color: white;">
      {%if user.is_authenticated%}
        Autenticado, Hola {{user.username}} &nbsp;&nbsp;<a href="{%url 'cerrar_sesion' %}" style="color:white ;">Cerrar Sesion</a>


      {%else%}
      <div><a href="{%url 'login'%}" style="color:white ;">Login</a></div><div><a href="{%url 'autenticacion' %}" style="color:white ;">Register</a></div>
      
        

      {%endif%}

    </div>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Gestión de Pedidos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {%if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item {%if request.path == '/servicios/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'servicios' %}">Servicios</a>
          </li>
          <li class="nav-item {%if request.path == '/tienda/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'tienda' %}">Tienda</a>
          </li>
          <li class="nav-item {%if request.path == '/contacto/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item {%if request.path|slice:'6' == '/blogs/' %}active{% endif %}px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'blog' %}">Blog</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  

  {%endblock%}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Gestión de Pedidos 20xx</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'proyectofinal/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'proyectofinal/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>